@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StoreManagementBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <AuthorizeView>
            <Authorized Context="auth">
                
                <div class="nav-item px-3">
                    <span class="nav-link text-light small" style="pointer-events: none;">
                        Xin chào, @auth.User.Identity?.Name
                    </span>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Trang chủ
                    </NavLink>
                </div>

                <AuthorizeView>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="promotions">
                            <span class="bi bi-ticket-perforated-fill-nav-menu" aria-hidden="true"></span> Khuyến mãi
                        </NavLink>
                    </div>
                </AuthorizeView>
                
                <AuthorizeView Roles="admin, staff">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="orders">
                            <span class="bi bi-border-all-nav-menu" aria-hidden="true"></span> Đơn hàng
                        </NavLink>
                    </div>
                </AuthorizeView>

                <AuthorizeView Roles="admin, staff">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/products">
                            <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Sản phẩm
                        </NavLink>
                    </div>

                </AuthorizeView>

                <AuthorizeView Roles="admin">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Người dùng
                        </NavLink>
                    </div>
                </AuthorizeView>

                

                <div class="nav-item px-3">
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/suppliers">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Nhà cung cấp
                        </NavLink>
                </div>

                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/categories">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Danh mục
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/shopping">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Mua sắm
                    </NavLink>
                </div>

                <div class="nav-item px-3 mt-4">
                    <NavLink class="nav-link" href="my-profile">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> Thông tin cá nhân
                    </NavLink>
                </div>

                

                <div class="nav-item px-3">
                    <a class="nav-link" href="/logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Đăng xuất
                    </a>
                </div>
            </Authorized>
            
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person-badge" aria-hidden="true"></span> Đăng nhập
                    </NavLink>
                </div>
            </NotAuthorized>

            
        </AuthorizeView>

    </nav>
</div>

